* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.con {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 
    padding: 0; 
}

header, main, footer {
    margin: 0; 
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0 1px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0.5%;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}
.btn {
	transition: .3s;
}
.btn:hover {
	transform: translateY(-3.5px);
	box-shadow: 0 0px 30px rgba(255, 255, 255, .1);
}

nav ul li a {
    color: #000000;
    text-decoration: none;
	box-sizing: border-box;
}

.login-button {
    margin-left: 1%;
	margin-right: 2%;
}

.navbtn {
    color: #000000;
}
.act {
	transform: translateY(-5.5px);
}

main {
    flex: 1; /* Это свойство позволяет растянуть main на оставшуюся высоту */
    padding: 20px;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.Ue5logo {
    max-width: 300px;
    height: auto;
}

.images {
	margin: auto;
	margin-bottom: 5%;
	width: 70%;
}

.d-block, .carousel-inner {
	border-radius: 32px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}


#object {
  transition: transform 0.1s ease;
  /* optional */
  padding: 20px;
  /* example content */
  font: bold 20vw sans-serif;
}
